<div class = "chatContainer">
    <h1>Envianos un mensaje</h1>
    <div id = "chat">    
        <textarea id = "message" type = "text"></textarea>
    </div>
    <form id="sender">
        <input id = "user" type = "email">
        <input type="submit" value=">">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</div>