<div>
    <h1> Hola {{name}}, bien dia</h1>
    {{#if admin}}
        {{#each foods}}
            <ul>
                <li><p>{{this.name}}</p></li>
                <li><p>$ {{this.price}}</p></li>
            </ul>
        {{/each}}
    {{else}}
        <p>Ud no tiene permiso para ver la lista de productos</p>
    {{/if}}
</div>
<script src="/js/index.js"></script>