<div id = "index">
    <h1>{{Message}}</h1>
    <form action="/api/sessions/login" id = "login" method="post">
        <input type = "email" name = "email" placeholder="email">
        <input type = "password" name = "pass" placeholder="contraseña">
        <div class = "record">
            <input type="checkbox" name = "remember">
            <label>Remeber me</label>
        </div>
            <input type="submit">        
    </form>
    <p>No estas registrado?</p>
    <a href="/signup">Registrate</a>
    <a href="/api/sessions/autGithub">Inicia sesion con Github</a>
    <a href="/restore">Olvide mi contraseña</a>
    <script src="./js/login.js"></script>
</div>