<div id = "index">
    <form action="/sessions/login" id = "login" method="post">
        <input name = "user" placeholder="Nombre de usuario">
        <input name = "pass" placeholder="contraseña">
        <div class = "record">
            <input type="checkbox" name = "remember">
            <label>Remeber me</label>
        </div>
            <input type="submit">        
    </form>
    <script src="./js/login.js"></script>
</div>