<div id="index">
    <h1>Productos en tiempo real</h1>
    <div id="productos">
        {{!-- aca van los productos --}}
    </div>
    <div class = "forms">
        <form id="form">
            {{!-- <label>prodId</label> --}}
            {{!-- <input name ="prodId" type="text"> --}}
            <label>Title</label>
            <input name ="title" type="text">
            <label>Description</label>
            <input name ="description" type="text">
            <label>Code</label>
            <input name ="code" type="text">
            <label>Price</label>
            <input name ="price" type="number">
            {{!-- <label>Status</label>
            <input name ="status" type="boolean"> --}}
            <label>Stock</label>
            <input name ="stock" type="number">
            <label>Category</label>
            <input name ="category" type="text">
            {{!-- <label>thumbnails</label>
            <input name ="thumbnails" type="text"> --}}
            <input type="submit" value="Modificar" id = "modificar">
        </form>
        <form id="form2">
            <label>prodID</label>
            <input type="text">
            <input type="submit" value="Eliminar">
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>    
</div>