<div id = "index">
    <h2>{{msg}}</h2>
    <form action="/sessions/signup" method="post">
        <label>first name</label>        
        <input type="text" name = "firstName">
        <label>last name</label>        
        <input type="text" name = "lastName">
        <label>user</label>        
        <input type="text" name = "userName">
        <label>email</label>        
        <input type="email" name = "email">
        <label>pass</label>
        <input type="password" name = "pass">
        <input type="submit" value="Sign Up">
    </form>
    <p>Ya estas registrado?</p>
    <a href="/login">Inicia sesion</a>
</div>