<div id = "index">
    <form action="/sessions/signup" method="post">
        <label>user</label>        
        <input type="text" name = "user">
        <label>email</label>        
        <input type="email" name = "email">
        <label>pass</label>
        <input type="password" name = "pass">
        <input type="submit" value="Sign Up">
    </form>
    <a href="/sessions/autGithub">dale con github</a>
    <p>Ya estas registrado?</p>
    <a href="/login">Inicia sesion</a>
</div>