*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chatContainer{
    background-color: #2890F0;
    padding:1em 0;
    min-width: 30em;
    max-width: 50em;
    min-height: 40em;
    max-height: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap:2em;
}
.chatContainer h1{
    color:#FAFAFA;
}
#chat{
    background-color: #FAFAFA;
    min-height: 30em;
    width: 95%;
    height: 100%;
}
#sender{
    display: flex;
    flex-direction: row;
    align-self: center;
}
#sender input{
    height: 2em;
    background-color: #FAFAFA;
    border:none;
    min-width: 2em;
}
#message{
    width: 100%;
    min-height: 40em;
    max-height: 60em;
}
#index{
    margin:0.5em ;
    display: flex;
    flex-direction: column;
    max-width: 40em;
    border:1px solid rebeccapurple;
    gap: 2em;
}
.prod{
    max-width: 40em;
    max-height: 20em;
    display: flex;
    flex-direction: column;
    background-color: #BBBBBB;
}
form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: flex-start  ;
    gap:0.25em;
    max-width: 20em;
    margin:1em 0;
}
.forms{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap:2em;
}