*{
    margin: 0;
    padding: 0;
}
#index{
    width: 100vw;
    height: fit-content;
    background-color: #BBBBBB;
    text-align: center;
}
#productos{
    text-align: left;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2em;
}
.prod{
    border:1px solid #323232;
    background-color: #FBFBFB;
    padding:0.5em;
    border-radius: 5px;
    max-width: fit-content;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.agregar{
    display: flex;
    flex-direction: row;
}